<div class="container">
<div class="well mw-about">
<span class="mw-heavy">mwthr.com</span>
<br />Developed by matt<img alt="@" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAAXNSR0IArs4c6QAAANBJREFUKFO10LErxXEUBfDPk5IysCqljAblbcrKxiTym92/gEGGt7BJJsP9DywWBullovcnGN5o8LKQyWjw9fpSJjnTPbdzuuce/hutmkTEGHbRYA6v6OIwMx9gpBKP4xaLxTCBBdyjGxHLMFod2MdjZm5VuwHOIqKPU7RrQ4M1iIhzTGIlM1u4wzxVJMygX+Z1HBTzNE5w/dMwwGyZL3GEd9zgGdt8/+ECe9jJzA2/YFhrREyh57PGYzxhFZuZ2XzphpEy8wVLhfbwhg6u/AUfN6o0SCbgjeIAAAAASUVORK5CYII=" />mwthr.com.
<br />This website uses National Weather Service public data APIs, and is powered by open source software.
</div>
<div class="mw-main">
<table class="table table-striped table-bordered table-hover">
<tbody>
<tr><th colspan="2">Data</th></tr>
<tr><td class="mw-icon"><img alt="" src="/images/nws.png" height="50" width="50" /></td><td><a href="https://www.weather.gov/" class="mw-offsite" target="_blank">National Weather Service</a></td></tr>
<tr><th colspan="2">Powered by</th></tr>
<tr><td class="mw-icon"><img alt="kernel.org" src="/images/tux.png" height="60" width="52" /></td><td><a href="https://www.kernel.org/" class="mw-offsite" target="_blank">Linux kernel</a></td></tr>
<tr><td class="mw-icon"><img alt="gnu.org" src="/images/gnu.png" height="50" width="50" /></td><td><a href="https://www.gnu.org/" class="mw-offsite" target="_blank">GNU project</a></td></tr>
<tr><td class="mw-icon"><img alt="nginx.org" src="/images/nginx.gif" height="25" width="75" /></td><td><a href="https://nginx.org/" class="mw-offsite" target="_blank">Nginx web server</a></td></tr>
<tr><td class="mw-icon"><img alt="redis.io" src="/images/redis.jpg" height="64" width="64" /></td><td><a href="https://redis.io/" class="mw-offsite" target="_blank">Redis key-value store</a></td></tr>
<tr><td class="mw-icon"><img alt="nodejs.org" src="/images/nodejs.png" height="64" width="64" /></td><td><a href="https://nodejs.org/" class="mw-offsite" target="_blank">Node.js platform</a></td></tr>
<tr><td class="mw-icon"><img alt="angularjs.org" src="/images/angularjs.png" height="52" width="49" /></td><td><a href="https://angularjs.org/" class="mw-offsite" target="_blank">Angular JS framework</a></td></tr>
<tr><td class="mw-icon"><img alt="openstreetmap.org" src="/images/osm.png" height="60" width="60" /></td><td><a href="https://www.openstreetmap.org/about" class="mw-offsite" target="_blank">OpenStreetMap data</a></td></tr>
<tr><td class="mw-icon"><img alt="leafletjs.com" src="/images/leaflet.png" height="60" width="60" /></td><td><a href="https://leafletjs.com/" class="mw-offsite" target="_blank">Leaflet map library</a></td></tr>
<tr><td class="mw-icon"><img alt="d3js.org" src="/images/d3js.png" height="64" width="64" /></td><td><a href="https://d3js.org/" class="mw-offsite" target="_blank">D3: Data-Driven Documents</a>
&amp; <a href="https://github.com/mbostock/topojson/wiki" class="mw-offsite" target="_blank">TopoJSON</a>
</td></tr>
<tr><td class="mw-icon"><img alt="getbootstrap.com" src="/images/bootstrap.png" height="57" width="57" /></td><td><a href="https://getbootstrap.com/" class="mw-offsite" target="_blank">Bootstrap CSS</a>
&amp; <a href="https://glyphicons.com/" class="mw-offsite" target="_blank">Glyphicons icons</a>
</td></tr>
<tr><th colspan="2">Also</th></tr>
<tr><td colspan="2"><div>This product includes GeoLite data created by MaxMind, available from
<a href="https://www.maxmind.com">https://www.maxmind.com</a>.<div>
</td></tr>
</tbody>
</table>
</div>
</div>
