<div class="mw-main">
<table class="mw-table table table-striped table-bordered table-hover">
<tbody>
<tr ng-click="go('/where')"><td class="mw-label">Location</td><td><span class="mw-loading" ng-hide="place.name">loading...</span>{{place.name}}<a href="javascript:void(0)" class="btn btn-default btn-xs glyphicon glyphicon-cog mw-button"></a></td></tr>
<tr ng-click="load()"><td class="mw-label">Now</td><td><span class="mw-loading" ng-hide="observation.temp_f">loading...</span><span ng-show="observation.temp_f">{{observation.temp_f}} &#176;F</span><a href="javascript:void(0)" class="btn btn-default btn-xs glyphicon glyphicon-repeat mw-button"></a></td></tr>
<tr ng-click="go('/fiveday')"><td class="mw-label">Next 24 hours</td><td><span class="mw-loading" ng-hide="range.temperature">loading...</span><span ng-show="range.temperature">{{range.temperature}} &#176;F,
{{range.probability_of_precipitation}}% <span title="probability of precipitation">PoP</span></span></td></tr>
<tr><td colspan="2">
<iframe class="mw-tropics" frameborder="0" scrolling="no" ng-src="{{src}}" src="about:blank" />
</td></tr>
</tbody>
</table>
</div>
